<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layoutAdmin">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title th:text="#{page.title}"></title>
</head>
<body>
<section layout:fragment="content">
<div class=" div column-form">
    <div class="bb">
        <form action="#" th:action="@{/admin/add/game}" method="post" th:object="${game}">
            <h3 th:text="#{admin.add.game}"></h3>
            <div>
                <div><span th:text="#{team}">Team</span> <select th:field="*{teams}" th:multiple="true">
                    <option th:each="team: ${teams}" th:value="${team}" th:text="${team.name}" ></option>
                </select></div>
            </div>
            <div> <span th:text="#{sport}">Category</span><select th:field="*{sport}">
                <option th:each="sport: ${sports}" th:value="${sport}" th:text="${sport.name}"></option>
            </select></div>
            <div> <span th:text="#{game.started}">Category</span>
                <input type="datetime-local" th:field="*{started}"></div>
            <p><input type="hidden" th:field="*{active}" value="true"/></p>
            <input type="submit" th:text="#{admin.add}"/>
        </form>
    </div>
</div>
<div class="div column-list">
    <div class="bb">
        <table id="datatable" class="table table-striped table-bordered">
            <tr>
                <th><a class="sorted" sd:pagination-sort="teams" th:text="#{game.teams}"></a></th>
                <th><a class="sorted" sd:pagination-sort="sport" th:text="#{sport}"></a></th>
                <th><a class="sorted" sd:pagination-sort="started" th:text="#{game.started}"></a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="game: ${games}">
                <td th:text="${game.thatTeams()}"></td>
                <td th:text="${game.thatResult()}"></td>
                <td th:text="${game.sport.name}"></td>
                <td th:text="${game.getStartedd()}"></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>