<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layoutUser1" xmlns:sd="http://www.w3.org/1999/xhtml">

<section layout:fragment="content">
    <div class="div column-list">
        <div class="panel-heading">
            <span th:text="#{page.userpage.bethistory}"></span>
        </div>
        <div class="bb">
            <table class="table table-striped table-hover">
                <tr>
                    <td><strong>#</strong></td>
                    <th><a class="sorted" sd:pagination-sort="games" th:text="#{game.teams}"></a></th>
                    <th><a class="sorted" sd:pagination-sort="stake" th:text="#{bet.stake}"></a></th>
                    <th><a class="sorted" sd:pagination-sort="created" th:text="#{rate}"></a></th>
                    <th><a class="sorted" sd:pagination-sort="created" th:text="#{bet.created}"></a></th>
                    <th><a class="sorted" sd:pagination-sort="active" th:text="#{active}"></a></th>
                    <th><a class="sorted" sd:pagination-sort="active" th:text="#{won}"></a></th>
                </tr>
                <th:block th:each="cop, iter : ${cops}" th:rowspan="${cop.getBets().size()}">
                    <tr th:each="bet: ${cop.getBets()}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${bet.getGame().thatTeams()}"></td>
                        <td th:text="${bet.stake}"></td>
                        <td th:text="${bet.rate.rate}"></td>
                        <td th:text="${bet.getCoupon().createdd}"></td>
                        <td th:text="${bet.active}"></td>
                        <td th:text="${bet.won}"></td>
                    </tr>
                </th:block>
            </table>

</section>

</html>