<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layoutUser">
<section layout:fragment="content">
    <h4 th:text="#{page.userpage.sendmessage}"></h4>
    <form action="#" th:action="@{/user/sendMessage}" method="post">
        <div>
            <span th:text="#{page.userpage.friend}">Users</span>
            <select>
                <option th:each="friend: ${user.friends}" name="touser" th:value="${friend}"
                        th:text="${friend.userName}"></option>
            </select>
        </div>
        <div>
            <!--<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>-->
            <input type="text" name="text"/>
        </div>
        <input type="submit" th:text="#{send}"/>
    </form>
    <hr>
    <h4 th:text="#{page.userpage.searchfriend}"></h4>
    <form action="#" th:action="@{/user/addFriend}" method="post">
        <span th:text="${message != null} ? ${message} : ''"></span>
        <span th:text="#{search}"></span><input type="text" name="username"/>
        <div>
            <input type="submit" th:text="#{searchbutton}"/>
        </div>
    </form>
    <ul>
        <li th:each="friend: ${user.friends}">
            <span th:text="${friend.userName}"></span>
            <a th:href="@{/user/deleteFriend(id=${friend.id})}" th:text="#{delete}"></a>
        </li>
    </ul>
</section>
</html>