<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layoutUser1">

<section layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span th:text="#{page.userpage.searchfriend}"></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <!--<div class="col-lg-4">-->
                <form action="#" th:action="@{/user/addFriend}" method="post">
                    <span th:text="${message != null} ? ${message} : ''"></span><br>
                    <span th:text="#{search}"></span><input type="text" name="username"/>
                    <div>
                        <input type="submit" th:text="#{searchbutton}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span th:text="#{page.userpage.friendlist}"></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <ul>
                    <li th:each="friend: ${user.friends}">
                        <span th:text="|${friend.firstName}  ${friend.lastName}|"></span>
                        <a th:href="@{/user/messages/{userName}(userName=${friend.userName})}" th:text="#{page.userpage.texthim}"></a>
                        <a th:href="@{/user/deleteFriend(id=${friend.id})}" th:text="#{delete}"></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--</div>-->
    </div>
</section>

</html>