<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layoutUser1">

<section layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span th:text="#{page.userpage.sendmessage}"></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <form action="#" th:action="@{/user/sendMessage}" method="post" th:object="${message}">
                    <div>
                        <span th:text="#{page.userpage.friend}">Users</span>
                        <select th:field="*{toUser}">
                            <option th:each="friend: ${user.friends}"  th:value="${friend.id}"
                                    th:text="${friend.userName}"></option>
                        </select>
                    </div>
                    <div>
                        <input type="text" th:field="*{text}"/>
                    </div>
                    <div>
                        <input type="hidden" th:field="*{fromUser}" th:value="${user.id}"/>
                    </div>
                    <input type="submit" th:text="#{send}"/>
                </form>

            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span th:text="#{page.userpage.conversations}"></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <ul>
                    <li th:each="mess: ${messages}">
                        <span th:text="|From ${mess.fromUser} to ${mess.toUser} :: ${mess.text}|"></span>
                </ul>
            </div>
        </div>
    </div>
</section>
</html>