<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{page.title}"></title>
</head>
<body>
<h2 th:text="#{user.register}"></h2>
<form action="#" th:action="@{/register}" method="post" th:object="${user}">
    <div>
    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
    <span th:text="#{user.username}"></span><input type="text" th:field="*{userName}"/>
    </div>
    <div>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    <span th:text="#{user.firstname}"></span><input type="text" th:field="*{firstName}"/>
    </div>
    <div>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    <span th:text="#{user.lastname}"></span><input type="text" th:field="*{lastName}"/>
    </div>
    <div>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <span th:text="#{user.email}"></span><input type="email" th:field="*{email}"/>
    </div>
    <div>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <span th:text="#{user.password}"></span><input type="password" th:field="*{password}"/>
    </div>
    <!--<p><input type="hidden" th:field="*{active}" value="true"/></p>-->
    <input type="submit" th:text="#{user.register.create}"/>
</form>
</body>
</html>