<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layoutUser1">

<section layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span th:text="#{page.userpage.managewallet}"></span>
        </div>
        <!--<div class="panel-body">-->
        <th:block th:if="${message!=null}">
            <h4 th:text="${message}"></h4>
        </th:block>
        <span th:text="|#{page.userpage.currentbalance}: |"></span>
        <strong><span th:text="${user.walletBalance}"></span></strong>
        <br>
        <form action="#" th:action="@{/user/walletWithdraw}" method="post">
            <div>
                <input type="number" step="0.01" th:max="${user.walletBalance}" th:min="0.01" name="value"/>
                <button type="submit" name="action" th:text="#{withdraw}" th:value="withdraw"/>
            </div>
        </form>
        <form action="#" th:action="@{/user/walletDeposit}" method="post">
            <div>
                <input type="number" step="0.01" th:min="0.01" name="value"/>
                <input type="submit" th:value="#{deposit}"/>
            </div>
        </form>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span th:text="#{page.userpage.transactions}"></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <!--<div class="col-lg-4">-->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Datetime</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="event, c:${wallet}">
                            <td th:text="${c.count}"></td>
                            <td th:text="${event.type}"></td>
                            <td th:text="${event.value}"></td>
                            <td th:text="${event.createdd}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
</section>

</html>