<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{page.title}"></title>
</head>
<body>
<section layout:fragment="content">
<div class="panel panel-default">
    <div class="panel-heading">
        <span th:text="#{page.title.mostpopular}"></span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Datetime</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="game, c:${games}">
                        <td th:text="${game.thatTeams()}"></td>
                        <td th:text="${game.thatResult()}"></td>
                        <td th:text="${game.startedd}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>
</section>
</body>
</html>
